<h1>Book detail</h1>

<% @books.each do |book| %>

 <span><%= book.title %></span>
 <span><%= book.body %></span>
 <%= link_to "Destroy", book_path(book.id), method: :delete, "data-confirm" => "本当に削しますか？" %>

<% end %>


<%= render 'books/new', books: @books %>